@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Roboto&display=swap");
html {
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
}

hr {
    margin: 0;
}
textarea {
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
}
